<!DOCTYPE html>
<html>
<head>
    <title>Histórico</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Histórico - {{ cliente[0] }}</h2>

        <table>
            <tr>
                <th>Assunto</th>
                <th>Status</th>
                <th>Data</th>
            </tr>

            {% for a in atendimentos %}
            <tr>
                <td>{{ a[0] }}</td>
                <td>{{ a[1] }}</td>
                <td>{{ a[2] }}</td>
            </tr>
            {% endfor %}
        </table>

        <a href="/clientes">Voltar</a>
    </div>
</body>
</html>